<nb-card *ngIf="user$ | async as user">
    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <img style="object-fit: cover; width: 100%; height: 100%;"
                            [src]="user?.avatar ?? '../../../../assets/images/kitten-corporate.png'">
                    </div>
                    <div class="col-md-7">
                        <h4>{{ user?.name }}</h4>
                        <div>{{ user?.rollnumber }}</div>
                        <nb-tag class="my-2" status="primary" appearance="outline" size="small"
                            [text]="user?.role"></nb-tag>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-left small">
                <div class="row">
                    <div class="col-md-5">Score:</div>
                    <div class="col-md-7">{{ user?.score ?? 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Status:</div>
                    <div class="col-md-7">{{ user?.status ?? 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">DoB:</div>
                    <div class="col-md-7">{{ user?.DoB | date: 'd/M/yyyy' ?? 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Department:</div>
                    <div class="col-md-7">{{ user?.department?.name ?? 'N/A' }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">Attended Events:</div>
                    <div class="col-md-7">{{ user?.attendedEvent ?? 'N/A' }}</div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-tabset *ngIf="semesters$ | async as semesters" (changeTab)="selectSemester($event)">
    <nb-tab class="p-0 pt-3" *ngFor="let semester of semesters; let i = index"
        [tabTitle]="semester.name" [active]="i === 0">
        <div class="row">
            <div class="col-md-4">
                <nb-card>
                    <nb-card-header>Điểm tham gia sự kiện</nb-card-header>
                    <nb-card-body class="p-0">
                        <ng-container
                            *ngTemplateOutlet="gradeListTemplate; context: { type: participantsGradesBySemester }"></ng-container>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-4">
                <nb-card>
                    <nb-card-header>Điểm hoạt động sự kiện</nb-card-header>
                    <nb-card-body class="p-0">
                        <ng-container
                            *ngTemplateOutlet="gradeListTemplate; context: { type: taskGradesBySemester }"></ng-container>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-4">
                <nb-card>
                    <nb-card-header>Điểm thành tích</nb-card-header>
                    <nb-card-body class="p-0">
                        <ng-container
                            *ngTemplateOutlet="gradeListTemplate; context: { type: ticketGradesBySemester }"></ng-container>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-tab>
</nb-tabset>
<ng-template #gradeListTemplate let-type="type">
    <nb-list>
        <nb-list-item class="item small">
            <span>Id</span>
            <span>Tiêu đề</span>
            <span>Điểm</span>
            <span>Thời gian</span>
        </nb-list-item>
        <nb-list-item class="item small" *ngFor="let grade of type">
            <span>{{ grade.id }}</span>
            <span>{{ grade.title }}</span>
            <span>{{ grade.score }}</span>
            <span>{{ grade.time | date: 'd/M/yyyy' }}</span>
        </nb-list-item>
        <nb-list-item class="small" *ngIf="type?.length === 0">N/A</nb-list-item>
    </nb-list>
</ng-template>