.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
  
    > * {
      flex: 1;
      &:not(:first-child) {
        display: flex;
        justify-content: center;
      }
    }
  
    &:first-child {
      border-top: none;
    }
  }