::ng-deep .hover-pointer {
    font-weight: 600;
    &:hover {
        cursor: pointer;
    }
  }

::ng-deep .event-attachments nb-card-header {
    &:hover {
        filter: brightness(50%);  
    }
  }

  ::ng-deep .hover-edit {
    &:hover {
        cursor: text;
        background-color: var(--accordion-header-border-color);
    }
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload,
.testtt {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}