<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <div class="d-flex justify-content-between">
                    <h5>Events</h5>
                    <button class="btn btn-outline-primary" (click)="navigateTo('/pages/events/add')">
                        <nb-icon [icon]="'plus-round'" pack="ion"></nb-icon>
                    </button>
                </div>
            </nb-card-header>
            <nb-card-body>
                <ng-container [ngTemplateOutlet]="listView"
                    [ngTemplateOutletContext]="{events: filteredEvents}"></ng-container>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #listView let-events="events">
    <nb-list>
        <nb-list-item class="item small">
            <span>Id</span>
            <span>Title</span>
            <span>Creator</span>
            <span>Event Leader</span>
            <span>Status</span>
            <span>Time</span>
            <span>Score</span>
        </nb-list-item>
        <nb-list-item class="item small" *ngFor="let event of events">
            <span>{{ event.id }}</span>
            <span class="hover-pointer" [routerLink]="['..', 'event', event.id]" >{{ event.title }}</span>
            <span>{{ event.creator.name }}</span>
            <span>{{ event.eventLeader?.name }}</span>
            <span>
                <nb-tag [status]="event.status === 1 ? 'success' : 'warning'" appearance="outline" [text]="event.status === 1 ? 'Public' : 'Non Public'" size="tiny"></nb-tag>
                <!-- <nb-select [(selected)]="event.status" size="tiny" class="type-select"  filled="true" [status]="event.status === 1 ? 'success' : 'warning' ">
                    <nb-option [value]="0">Un Public</nb-option>
                    <nb-option [value]="1">Public</nb-option>
                    <nb-option [value]="2">Un Public</nb-option>
                </nb-select> -->
            </span>
            <span>{{ event.startTime | date }}</span>
            <span>{{ event.attendScore }}</span>
        </nb-list-item>
    </nb-list>
</ng-template>
