<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <div class="d-flex justify-content-between">
                    <h5>Events</h5>
                    <button class="btn btn-outline-primary" (click)="approvedAroposalListLength > 0 ? navigateTo('/pages/events/add') : openDialog(noAvailableProposalDialog)">
                        <nb-icon [icon]="'plus-round'" pack="ion"></nb-icon>
                    </button>
                </div>
            </nb-card-header>
            <nb-card-body>
                <ng-container [ngTemplateOutlet]="listView"
                    [ngTemplateOutletContext]="{events: filteredEvents}"></ng-container>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #listView let-events="events">
    <nb-list>
        <nb-list-item class="item small">
            <span>Id</span>
            <span>Title</span>
            <span>Creator</span>
            <span>Event Leader</span>
            <span>Type</span>
            <!-- <span>Process</span> -->
            <span>Time</span>
            <span>Score</span>
        </nb-list-item>
        <nb-list-item class="item small" *ngFor="let event of events">
            <span>{{ event.id }}</span>
            <span class="hover-pointer" [routerLink]="['..', 'event', event.id]" >{{ event.title }}</span>
            <span>{{ event.creator.name }}</span>
            <span>{{ event.eventLeader?.name }}</span>
            <span>
                <nb-tag [status]="event.status === 1 ? 'success' : 'warning'" appearance="outline" [text]="event.status === 1 ? 'Public' : 'Mandatory'" size="tiny"></nb-tag>
            </span>
            <!-- <span>
                <nb-tag appearance="outline" [text]="getProcessStatus(event.processStatus)" size="tiny"></nb-tag>
            </span> -->
            <span>{{ event.startTime | date }}</span>
            <span>{{ event.attendScore }}</span>
        </nb-list-item>
    </nb-list>
</ng-template>

<ng-template #noAvailableProposalDialog>
    <nb-card>
        <nb-card-header class="bg-danger text-white">No Available Approved Proposal</nb-card-header>
        <nb-card-body>Do you want to create a proposal?</nb-card-body>
        <nb-card-footer>
            <button class="btn btn-outline-primary" (click)="navigateTo('/pages/event-proposal/add')" size="small">Create Proposal</button>
        </nb-card-footer>
    </nb-card>
</ng-template>