input[type=file] {
    padding: 3vw;
    border: dashed 1px var(--alert-outline-control-color);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
    color: var(--actions-icon-color);
}