<nb-card>
    <nb-card-header>
        <h5>Edit you event proposal</h5>
    </nb-card-header>
    <nb-card-body class="example-items-col">
        <div class="form-group">
            <label for="title" class="font-weight-bold">Title</label>
            <input type="text" nbInput fullWidth id="title" placeholder="Title" [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label for="description" class="font-weight-bold" style="margin-top: 1rem;">Content</label>
            <!-- <textarea nbInput fullWidth id="description" placeholder="Textarea"></textarea> -->
            <quill-editor [(ngModel)]="editorContent" style="width: 100%;"></quill-editor>

        </div>
        <div class="form-group">
            <nb-card>
                <nb-card-body class="bg-white">
                    <label for="bannerImg" class="font-weight-bold" style="margin-top: 1rem;">Attachment</label> <br>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01" (change)="onFileChange($event)" multiple>
                            <label class="custom-file-label" for="inputGroupFile01">{{ getSelectedFileNames() }}</label>
                        </div>
                    </div>
                    <div *ngFor="let file of selectedFiles; let i = index" class="mt-2">
                        {{ file.name }}
                        <button nbButton size="small" status="danger" (click)="removeFile(i)">Remove</button>
                    </div>
                    <!-- <input id="bannerImg" type="file" (change)="onFileChange($event)" multiple="false"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /> -->
                </nb-card-body>
            </nb-card>
        </div>
        <div class="row">
            <div class="col">
                <button class="float-left" nbButton (click)="goBack()">Go Back</button>

            <button class="float-right" nbButton (click)="submitEventProposal()">Submit</button>
        </div>
        </div>
    </nb-card-body>
</nb-card>