<nb-card>
  <nb-card-header>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <h5>Users</h5> 
      </div>
      <button class="btn" [nbContextMenu]="items">
        <nb-icon icon="more-vertical"></nb-icon>
      </button>
    </div>
  </nb-card-header>

  <!-- (userRowSelect)="navigateUser($event)" -->
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Import User</nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="importSetting" [source]="sourceAddingStudents" >
      </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="bg-danger text-light" (click)="ref.close()">Close</button>
      <button nbButton class="bg-primary text-light ml-3" (click)="importStudent()">Import</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #importResultDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Import User</nb-card-header>
    <nb-card-body>
      <div class="text-success"><strong>Successful</strong>: {{importSuccess}} / {{importAmount}} students</div>
      <div class="text-danger"><strong>Failed</strong>: {{importFailed}} / {{importAmount}} students</div>
      <div class="failed-import-list">
        
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button *ngIf="importFailed > 0" class="btn btn-danger size-small mt-2" (click)="openFailedList()">View Failed Data</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #failedImportListDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Update Failed Report</nb-card-header>
    <nb-card-body>
      <div class="failed-import-list">
        <ng2-smart-table [settings]="reimportFailSetting" [source]="sourceAddingStudents" >
        </ng2-smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="bg-danger text-light" (click)="ref.close()">Close</button>
      <button nbButton class="bg-primary text-light ml-3" (click)="importStudent()">Import</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #deleteUserDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Delete User</nb-card-header>
    <nb-card-body>
      Do you want to delete {{ selectedStudent.name }}
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="bg-danger text-light" (click)="ref.close()">Close</button>
      <button nbButton class="bg-primary text-light ml-3" (click)="deleteUser()">Delete</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #updateUserDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Update User</nb-card-header>
    <nb-card-body>
      Do you want to update {{ selectedStudent.name }}
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="bg-danger text-light" (click)="ref.close()">Close</button>
      <button nbButton class="bg-primary text-light ml-3" (click)="updateUser()">Update</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #excelImporterDialog let-data let-ref="dialogRef">
  <ngx-excel-importer></ngx-excel-importer>
</ng-template>