<ngx-excel-importer (importFromExcel)="importFromExcel($event)"></ngx-excel-importer>
<nb-card>
  <nb-card-header>
    Students
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
    (userRowSelect)="navigateUser($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Import Students</nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="sourceAddingStudents" >
      </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="bg-danger text-light" (click)="ref.close()">Close</button>
      <button nbButton class="bg-primary text-light ml-3" (click)="importStudent()">Import</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
