<nb-card>
    <nb-card-header>
        <div class="d-flex justify-content-between align-items-center">
            <div>Departments</div>
            <button size="small" class="btn btn-outline-primary" (click)="openDialog(createDepartmentDialog)">
                <nb-icon [icon]="'plus-round'" pack="ion"></nb-icon>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body class="py-0">
        <nb-list>
            <nb-list-item class="item small" *ngFor="let department of departments; let i = index" (click)="selectedDepartment = department">
                <span *ngIf="!editMode[i]">{{ department.name }}</span>
                <span *ngIf="editMode[i]">
                    <input nbInput size="tiny" [(ngModel)]="department.name" >
                </span>
                <span>
                    <button *ngIf="!editMode[i]" class="btn btn-link" (click)="editMode[i] = true" style="font-size: .75rem;">Edit</button>
                    <div  *ngIf="editMode[i]"  class="d-flex align-items-baseline">
                        <button class="btn btn-link" (click)="editDepartment(department); editMode[i] = false;" style="font-size: .75rem;" >Save</button>
                        <div>|</div>
                        <button class="btn btn-link" (click)="editMode[i] = false" style="font-size: .75rem;">Cancel</button>
                    </div>
                </span>
                <span>View</span>
                <span>Delete</span>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>

<ng-template #createDepartmentDialog let-data let-ref="dialogRef">
    <nb-card style="width: 30rem;">
      <nb-card-header>Create department</nb-card-header>
      <nb-card-body>
        <input fullWidth type="text" nbInput placeholder="Department name" [(ngModel)]="newDepartmentName">
      </nb-card-body>
      <nb-card-footer>
        <button nbButton class="bg-danger text-light" (click)="ref.close()">Close</button>
        <button nbButton class="bg-primary text-light ml-3" (click)="createDepartment()">Create</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>