<nb-card>
    <nb-card-body class="row d-flex">
      <div class=" col-md-4 progress-info" *ngFor="let item of progressInfoData">
        <div class="subtitle">{{ item.title }}</div>
        <div class="h3">{{ item.value | ngxNumberWithCommas }}</div>
        <nb-progress-bar [value]="item.activeProgress | number: '1.2-2'"></nb-progress-bar>
        <div class="caption description">
          <bdi>{{ item.description }}</bdi>
        </div>
      </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>Feedback</nb-card-header>
    <nb-card-body>
        <!-- {{allQuestionsAndAnswers | async | json}}
        {{allQuestionsAndAnswersChart | async | json}} -->
        <nb-accordion>
            <nb-accordion-item *ngFor="let feedback of allQuestionsAndAnswers | async">
                <nb-accordion-item-header>
                    {{ feedback.question.question }}
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div *ngIf="feedback.question.type === 0 || feedback.question.type === 1" echarts [options]="feedback.chart" class="echart"></div>
                    <ng-card *ngIf="feedback.question.type === 2">
                        <nb-card-body class="p-0">
                            <nb-list>
                                <nb-list-item class="small" *ngFor="let openEndedAnswer of feedback.answers">
                                    {{ openEndedAnswer.content }}
                                </nb-list-item>
                            </nb-list>
                            
                        </nb-card-body>
                    </ng-card>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
</nb-card>
  