::ng-deep nb-auth-block {
  margin: auto 0 !important;
}

::ng-deep nb-card-body {
  display: block !important;
}

::ng-deep nb-auth-block {
  max-width: none !important;
  height: 100% !important;
}

::ng-deep nb-auth nb-card-header {
  display: none !important;
}

::ng-deep nb-auth nb-card-body {
  background-color: var(--button-hero-info-hover-left-background-color) !important;
}

::ng-deep .ql-editor {
  min-height: 150px !important;
}
