<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
        <nb-stepper orientation="horizontal">
            <nb-step label="Basic Information">
                <h5>Basic Information</h5>
                <ng-container [ngTemplateOutlet]="basicInformationTemplate"></ng-container>
                <button nbButton disabled nbStepperNext>prev</button>
                <button class="float-right" nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Feedback Form">
                <h5>Feedback Form</h5>
                <ng-container [ngTemplateOutlet]="feedbackFormTemplate"></ng-container>
                <button nbButton nbStepperPrevious>prev</button>
                <button class="float-right" nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Attendance List">
                <h5>Attendance List</h5>
                <ng-container [ngTemplateOutlet]="attendanceListTemplate"></ng-container>
                <button nbButton nbStepperPrevious>prev</button>
                <button class="float-right" nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Tasks">
                <h5>Tasks</h5>
                <ng-container [ngTemplateOutlet]="tasksTemplate"></ng-container>
                <button nbButton nbStepperPrevious>prev</button>
                <button class="float-right" nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Review">
                <h3>Review</h3>
                <button nbButton nbStepperPrevious>prev</button>
                <button class="float-right" nbButton disabled nbStepperNext>next</button>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>
<ng-template #basicInformationTemplate>
<nb-card>
    <nb-card-body class="example-items-col">
        <div class="form-group">
            <label for="title" class="font-weight-bold">Title</label>
            <input type="text" nbInput fullWidth id="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="proposal" class="font-weight-bold" style="margin-top: 1rem;">Proposal</label>
            <input [formControl]="inputFormControl" nbInput fullWidth type="text" placeholder="Search proposal"
                [nbAutocomplete]="auto" id="proposal" />
            <nb-autocomplete #auto [activeFirst]="true">
                <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                    {{ option }}
                </nb-option>
            </nb-autocomplete>
        </div>
        <div class="form-group">
            <label for="description" class="font-weight-bold" style="margin-top: 1rem;">Content</label>
            <!-- <textarea nbInput fullWidth id="description" placeholder="Textarea"></textarea> -->
            <quill-editor [(ngModel)]="editorContent" [config]="editorConfig"></quill-editor>

        </div>
        <div class="form-group">
            <nb-card>
                <nb-card-body class="bg-white">
                    <label for="bannerImg" class="font-weight-bold" style="margin-top: 1rem;">Banner image</label> <br>
                    <div class="input-group">
                        <!-- <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div> -->
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01" (change)="onFileChange($event)">
                            <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                        </div>
                    </div>
                    <!-- <input id="bannerImg" type="file" (change)="onFileChange($event)" multiple="false"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /> -->
                </nb-card-body>
            </nb-card>
        </div>
    </nb-card-body>
</nb-card>
</ng-template>
<ng-template #feedbackFormTemplate>
    <!-- <ngx-excel-importer (importFromExcel)="importFeedbackFromExcel($event)"></ngx-excel-importer> -->
    <button class="d-block mb-3 btn btn-outline-primary" (click)="openDialog(importFeedbackFormDialog)">+ Add feedback</button>
    <div class="d-flex" *ngFor="let feedback of feedbackQuestionList; let i = index">
        <div class="container border mb-5 pt-3">
            <div class="label mb-2">Question {{i + 1}}</div>
            <div class="d-flex justify-content-between mb-3">
                <input class="flex-grow-1 mw-100" nbInput [(ngModel)]="feedback.question">
                <nb-select [(selected)]="feedback.type">
                    <nb-option value="MultipleSelect">Multiple Select</nb-option>
                    <nb-option value="SingleSelect">Single Select</nb-option>
                    <nb-option value="OpenEnded">Open Ended</nb-option>
                </nb-select>
            </div>
            <ng-container *ngIf="feedback.answer.length > 0">
                <div class="d-flex mb-2 ml-5" *ngFor="let answer of feedback.answer; let j = index">
                    <input class="flex-grow-1 mw-100" nbInput [(ngModel)]="feedback.answer[j]">
                    <button (click)="deleteAnswer(i, j)" class="btn input-group-text">
                        <nb-icon class="small" [icon]="'close'" pack="ion"></nb-icon>
                    </button>
                </div>
            </ng-container>
            <button (click)="addAnswer(i)" class="btn btn-link ml-5">
                <nb-icon status="primary" class="small mr-2" [icon]="'plus'" pack="ion"></nb-icon>
                <span class="label">Add answer</span>
            </button>
        </div>
        <button (click)="deleteQuestion(i)" class="btn">
            <nb-icon status="primary" class="" [icon]="'trash-a'" pack="ion"></nb-icon>
        </button>
    </div>
</ng-template>
<ng-template #attendanceListTemplate>
    <ngx-add-event-attendance-list (addAttendanceList)="addAttendanceList($event)"></ngx-add-event-attendance-list>
</ng-template>
<ng-template #tasksTemplate>
    <ngx-add-task></ngx-add-task>
</ng-template>

<!-- DIALOG -->

<ng-template #importFeedbackFormDialog let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Add Feedback</nb-card-header>
        <nb-card-body>
            <button class="btn btn-outline-primary d-flex w-100 justify-content-center" (click)="addQuestion()">+ Add manually</button>
            <div class="d-flex justify-content-center my-2">or</div>
            <ngx-excel-importer
                sampleData="https://docs.google.com/spreadsheets/d/1zyKopWzyAkoPdjrvlGcrFcY3pX5TR2gdVLS6pP9FrMY/edit?usp=sharing"
                (importFromExcel)="importFeedbackFromExcel($event)"></ngx-excel-importer>
        </nb-card-body>
    </nb-card>
    
</ng-template>