<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
        <nb-stepper orientation="horizontal">
            <nb-step label="Basic Information">
                <ng-container [ngTemplateOutlet]="basicInformationTemplate"></ng-container>
                <button nbButton disabled nbStepperNext>prev</button>
                <button class="float-right" nbButton nbStepperNext
                (click)="uploadBannerAndAttachment()"
                [disabled]="!checkIsValidBeforeNext(['title', 'content', 'banner', 'file', 'semester', 'proposalId', 'startTime', 'duration', 'status', 'attendScore', 'eventLeaderRollnumber'])"
                >next</button>
                <!-- [disabled]="!checkIsValidBeforeNext(['title', 'content', 'banner', 'file', 'semester', 'proposalId', 'startTime', 'duration', 'status', 'attendScore', 'eventLeaderRollnumber'])" -->
            </nb-step>
            <nb-step label="Feedback Form">
                <ng-container [ngTemplateOutlet]="feedbackFormTemplate"></ng-container>
                <button nbButton nbStepperPrevious>prev</button>
                <button class="float-right" nbButton nbStepperNext (click)="uploadBannerAndAttachment()">next</button>
                <!-- [disabled]="!isFeedbackValid()" -->
            </nb-step>
            <nb-step label="Participant List">
                <ng-container [ngTemplateOutlet]="attendanceListTemplate"></ng-container>
                <button nbButton nbStepperPrevious>prev</button>
                <button class="float-right" nbButton nbStepperNext (click)="uploadBannerAndAttachment()">next</button>
            </nb-step>
            <nb-step label="Tasks">
                <ng-container [ngTemplateOutlet]="tasksTemplate"></ng-container>
                <button nbButton nbStepperPrevious>prev</button>
                <button class="float-right" nbButton nbStepperNext (click)="createEventReview()">next</button>
            </nb-step>
            <nb-step label="Review">
                <h3>Review</h3>
                <!-- <ngx-event *ngIf="aFileUploaded$ | async" [event]="eventReview" [participants]="participantReview" viewOnly="true"></ngx-event> -->
                <ngx-event [event]="eventReview" [participants]="participantReview" viewOnly="true"></ngx-event>
                <button nbButton nbStepperPrevious>prev</button>
                <button class="float-right" nbButton status="primary" (click)="createEvent()">Create</button>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>
<ng-template #basicInformationTemplate>
<nb-card>
    <nb-card-body class="example-items-col">
        <div class="form-group">
            <label for="title" class="label">Title</label>
            <input type="text" [(ngModel)]="title" nbInput fullWidth id="title" placeholder="Title">
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="proposal" class="label" style="margin-top: 1rem;">Proposal</label>
                <ng-container *ngIf="myEventProposals$ | async as myEventProposals">
                    <ngx-custom-autoselect
                        [arr]="myEventProposals" [placeholder]="'Proposal'"
                        [property]="'title'"
                        (selectItem)="setEventProposalId($event)"
                    ></ngx-custom-autoselect>
                </ng-container>
            </div>
            <div class="col-md-6">
                <label for="semester" class="label" style="margin-top: 1rem;">Semester</label>
                <ng-container *ngIf="semesters$ | async as semesters">
                    <nb-select fullWidth [(selected)]="semester" class="d-block">
                        <nb-option *ngFor="let sem of semesters" [value]="sem.name">{{ sem.name }}</nb-option>
                    </nb-select>
                </ng-container>
                <!-- <input type="text" [(ngModel)]="semester" disabled nbInput fullWidth id="semester" placeholder="Title"> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="startTime" class="label" style="margin-top: 1rem;">Start time</label>
                <div class="d-flex">
                    <input class="w-50" nbInput [(ngModel)]="startTime" [nbTimepicker]="timepicker" style="border-radius: 0.25rem 0 0 0.25rem;">
                    <nb-timepicker #timepicker></nb-timepicker>
                    <input class="w-75" type="datetime" [(ngModel)]="startTime" nbInput id="startTime" placeholder="Start time" [nbDatepicker]="dateTimePicker" style="border-radius: 0 0.25rem 0.25rem 0;">
                    <nb-datepicker [min]="minDate" #dateTimePicker></nb-datepicker>
                </div>         
            </div>
            <div class="col-md-6">
                <label for="duration" class="label" style="margin-top: 1rem;">Duration</label>
                <div class="d-flex align-items-end">
                    <nb-select (selectedChange)="changeDuration($event, 'hour')" class="mr-2">
                        <nb-option *ngFor="let hour of hours" [value]="hour"> {{ hour }}</nb-option>
                    </nb-select> <span class="small pb-2">hours</span> 
                    <nb-select (selectedChange)="changeDuration($event, 'minute')" class="mx-2">
                        <nb-option *ngFor="let minute of minutes" [value]="minute"> {{ minute }}</nb-option>
                    </nb-select> <span class="small pb-2">minutes</span>
                </div>            
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="status" class="label" style="margin-top: 1rem;">Type</label>
                <nb-select [(selected)]="status" fullWidth class="d-block">
                    <nb-option value="0">Mandatory</nb-option>
                    <nb-option value="1">Public</nb-option>
                </nb-select>
            </div>
            <div class="col-md-6">
                <label for="departments" class="label" style="margin-top: 1rem;">Departments</label>
                <ng-container *ngIf="departments$ | async as departments">
                    <nb-select fullWidth multiple [(selected)]="department" class="d-block">
                        <nb-option *ngFor="let department of departments" [value]="department">{{ department.name }}</nb-option>
                    </nb-select>
                </ng-container>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-md-6">
                <label for="eventLeaderRollnumberToSearch" class="label" style="margin-top: 1rem;">Event Leader</label>
                <div class="d-flex align-items-center">
                    <input id="eventLeaderRollnumberToSearch" [(ngModel)]="eventLeaderRollnumberToSearch" nbInput class="flex-grow-1" placeholder="Roll number">
                    <nb-icon *ngIf="!isEditContent" icon="search" pack="eva"
                        (click)="searchExistingUser(eventLeaderRollnumberToSearch)" class="hover-pointer ml-3"></nb-icon>
                </div>
            </div>
            <div class="col-md-6 pb-2 mb-1 pl-4 font-weight-bold" *ngIf="(eventLeader$ | async) as eventLeader; else noEventLeaderFound">
                <span class="small">Event leader: </span>{{ eventLeader.name }}</div>
            <ng-template #noEventLeaderFound>
                <div class="col-md-6 pb-2 mb-1 pl-4 font-italic small" *ngIf="!eventLeader">No Event Leader</div>
            </ng-template>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="label" style="margin-top: 1rem;">Sub Criteria</label>
                <ng-container *ngIf="gradeSubCriteria$ | async as gradeSubCriteria">
                    <ngx-custom-autoselect
                        [arr]="gradeSubCriteria" [placeholder]="'Sub Criteria'"
                        [property]="'content'"
                        (selectItem)="setSubGradeCriteriaId($event)"
                    ></ngx-custom-autoselect>
                </ng-container>
            </div>
            <div class="col-md-6">
                <label for="attendScore" class="label" style="margin-top: 1rem;">Attend Score</label>
                <nb-form-field>
                    <input [disabled]="!selectedSubGradeCriteria" [min]="selectedSubGradeCriteria?.minScore" [max]="selectedSubGradeCriteria?.maxScore" (keydown)="checkRange($event)"
                        type="number" onkeydown="return event.key !== '-'" [(ngModel)]="attendScore" nbInput fullWidth id="attendScore" placeholder="Attend Score">
                        <span nbSuffix>({{ selectedSubGradeCriteria?.minScore }} - {{
                            selectedSubGradeCriteria?.maxScore }})</span>
                </nb-form-field>
                
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="label" style="margin-top: 1rem;">Content</label>
            <quill-editor [(ngModel)]="content" [config]="editorConfig"></quill-editor>
        </div>
        <div class="form-group">
            <nb-card class="size-sm">
                <nb-card-body class="bg-white">
                    <label for="bannerImg" class="label">Banner image</label> <br>
                    <div class="input-group">
                        <div class="custom-file">
                            <input id="bannerImg" type="file" class="custom-file-input" 
                                aria-describedby="inputGroupFileAddon01" [(ngModel)]="bannerUrl" (change)="onFileChange($event, 'banner')">
                            <label class="custom-file-label" for="inputGroupFile01">{{ banner ? banner.name : 'Choose image' }}</label>
                            <img *ngIf="imageSrc" [src]="imageSrc">
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card class="size-sm">
                <nb-card-body class="bg-white">
                    <label for="bannerImg" class="label">Attachment</label> <br>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01" [(ngModel)]="fileUrls" (change)="onFileChange($event, 'file')">
                            <label class="custom-file-label" for="inputGroupFile01">{{ file ? file.name : 'Choose attachment' }}</label>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </nb-card-body>
</nb-card>
</ng-template>
<ng-template #feedbackFormTemplate>
    <!-- <ngx-excel-importer (importFromExcel)="importFeedbackFromExcel($event)"></ngx-excel-importer> -->
    <button class="d-block mb-3 btn btn-sm btn-outline-secondary" (click)="openDialog(importFeedbackFormDialog)">+ Add feedback question</button>
    <div class="d-flex" *ngFor="let feedback of feedbackQuestionList; let i = index">
        <div class="container border mb-5 pt-3">
            <div class="label mb-2">Question {{i + 1}}</div>
            <div class="feedback-question d-flex justify-content-between mb-3">
                <input class="flex-grow-1 mw-100" nbInput [(ngModel)]="feedback.question" style="border-radius: 0.25rem 0 0 0.25rem;">
                <nb-select [(selected)]="feedback.type">
                    <nb-option [value]="0">Multiple Select</nb-option>
                    <nb-option [value]="1">Single Select</nb-option>
                    <nb-option [value]="2">Open Ended</nb-option>
                </nb-select>
            </div>
            <ng-container *ngIf="feedback.answer.length > 0">
                <div class="d-flex mb-2 ml-5 align-items-center" *ngFor="let answer of feedback.answer; let j = index; trackBy: trackByFn">
                    <input class="flex-grow-1 mw-100" nbInput [(ngModel)]="feedback.answer[j]">
                    <nb-icon (click)="deleteAnswer(i, j)" class="small ml-3" [icon]="'close'" pack="ion"></nb-icon>
                </div>
            </ng-container>
            <button (click)="addAnswer(i)" class="btn btn-link ml-5 mb-3">
                <nb-icon status="primary" class="small mr-2 hover-pointer" [icon]="'plus'" pack="ion"></nb-icon>
                <span class="label">Add answer</span>
            </button>
        </div>
        <button (click)="deleteQuestion(i)" class="btn">
            <nb-icon status="primary" class="" [icon]="'trash-a'" pack="ion"></nb-icon>
        </button>
    </div>
</ng-template>
<ng-template #attendanceListTemplate>
    <ngx-add-event-attendance-list (addAttendanceList)="addAttendanceList($event)"></ngx-add-event-attendance-list>
</ng-template>
<ng-template #tasksTemplate>
    <ngx-add-task [taskList]="taskList"></ngx-add-task>
</ng-template>

<!-- DIALOG -->

<ng-template #importFeedbackFormDialog let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Add Feedback</nb-card-header>
        <nb-card-body>
            <button class="btn btn-outline-primary d-flex w-100 justify-content-center" (click)="addQuestion()">+ Add manually</button>
            <div class="d-flex justify-content-center my-2">or</div>
            <ngx-excel-importer
                sampleData="https://docs.google.com/spreadsheets/d/1zyKopWzyAkoPdjrvlGcrFcY3pX5TR2gdVLS6pP9FrMY/edit?usp=sharing"
                (importFromExcel)="importFeedbackFromExcel($event)"></ngx-excel-importer>
        </nb-card-body>
    </nb-card>
    
</ng-template>