// .item {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
  
//     > * {
//       flex: 1;
//     }
  
//     &:first-child {
//       border-top: none;
//     }
//     span {
//       &:first-child {
//         width: 5rem !important;
//       }
//     }
//   }

.sub-crit-item {
    width: 6rem;
    padding: .5rem;
    &.border-left:first-child {
        border-left: 0!important;
    }
}

.td-width-padding {
    @extend .sub-crit-item;
}

tr:hover {
    background-color: var(--background-basic-color-3);
}