<div class="task-detail container border pt-3">
    <div class="row">
        <div class="col-lg-6 my-4">
            <label for="title" class="label">Title</label>
            <input class="mb-3" nbInput fullWidth id="title" placeholder="Title" [(ngModel)]="task.title">
            <label for="content" class="label">Description</label>
            <textarea type="text" nbInput fullWidth id="content" placeholder="Description" [(ngModel)]="task.content"></textarea>
        </div>
        <div class="col-lg-6">
            <nb-select [(selected)]="task.status" (selectedChange)="taskChange.emit($event)">
                <nb-option *ngFor="let status of mockStatusList" [value]="status">{{ status }}</nb-option>
            </nb-select>
            <nb-card class="mt-2">
                <nb-card-header>Details</nb-card-header>
                <nb-card-body>
                    <div class="row mb-2 align-items-baseline">
                        <div class="col-4">Assignee</div>
                        <div class="col-8 px-0">
                            <ngx-custom-autoselect
                                [arr]="assignees"
                                [property]="'name'"
                                (selectItem)="addAssignee($event)"
                            ></ngx-custom-autoselect>
                        </div>
                    </div>
                    <div class="row mb-2 align-items-baseline">
                        <div class="col-4">Criteria</div>
                        <div class="col-8 px-0">
                            <ngx-custom-autoselect
                                [arr]="gradeSubCriterias"
                                [property]="'content'"
                                (selectItem)="this.task.gradeSubCriteriaId = $event"
                            ></ngx-custom-autoselect>
                        </div>
                    </div>
                    <div class="row mb-2 align-items-baseline">
                        <div class="col-4">Score</div>
                        <input type="number" min="0" nbInput class="col-8" [(ngModel)]="task.score">
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>