<div *ngFor="let feedbackQuestion of feedbackQuestions" class="my-4">
    <div class="label mb-2">{{ feedbackQuestion.question }} 
        <nb-icon class="hover-pointer" *ngIf="!viewOnly" (click)="edit.emit(feedbackQuestion)" icon="edit-2-outline" pack="eva"></nb-icon>
    </div>
    <div *ngIf="feedbackQuestion.type === 0">
        <nb-checkbox class="d-block" *ngFor="let answer of feedbackQuestion.answer | splitstring: '|'">{{ answer }}</nb-checkbox>
    </div>
    <div class="container" *ngIf="feedbackQuestion.type === 1">
        <nb-radio-group class="row" name="feedback">
            <nb-radio class="border rounded col-md-6 d-flex"
                *ngFor="let answer of feedbackQuestion.answer | splitstring: '|'">
            {{ answer }}
            </nb-radio>
        </nb-radio-group>
    </div>
    <input nbInput size="small" *ngIf="feedbackQuestion.type === 2" placeholder="Your answer...">
</div>
