<nb-layout>
    <nb-layout-column>
      <div class="d-flex w-100 h-100 justify-content-center align-items-center">
        <div class="border border-primary shadow p-5" style="max-width: 45rem;">
          <img src="../../../../assets/images/logo-modified-small.png" style="width:7rem">
          <h1 class="text-primary">Confirm Missing Points</h1>
          <ng-container *ngIf="!(alreadyApproved || alreadyRejected || apiCalledSuccess)">
            <div>SAMSU requires guarantors to confirm the achievements of the student.</div>
            <div class="border p-3 my-3">
              <div class="row mb-2">
                <div class="col-md-4 label">Student</div>
                <div class="col-md-8 small">{{ ticketInfo?.creator?.name }}</div>
              </div>
              <div class="row mb-2">
                <div class="col-md-4 label">Roll number</div>
                <div class="col-md-8 small">{{ ticketInfo?.creator?.rollnumber }}</div>
              </div>
              <div class="row mb-2">
                <div class="col-md-4 label">Title</div>
                <div class="col-md-8 small">{{ ticketInfo?.title }}</div>
              </div>
              <div class="row mb-2">
                <div class="col-md-4 label">Content</div>
                <div class="col-md-8 small">{{ ticketInfo?.content }}</div>
              </div>
              <div class="row mb-2">
                <div class="col-md-4 label">Attachment</div>
                <div class="col-md-8 small">
                  <div class="event-bannerurl hover-pointer"
                      (click)="openDialog(eventBannerDialog, ticketInfo?.evidenceUrls)">
                      <nb-card style="max-width: 12rem;">
                          <nb-card-header
                              class="p-0 d-flex justify-content-center align-items-center"
                              style="height: 6rem;">
                              <img class="mh-100 mw-100" [src]="ticketInfo?.evidenceUrls">
                          </nb-card-header>
                          <nb-card-body class="p-2">
                              <div class="text-truncate small">{{ ticketInfo?.evidenceUrls }}
                              </div>
                          </nb-card-body>
                      </nb-card>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3"> To confirm the achievement, click "Confirm".</div>
            <div class="w-100 d-flex justify-content-between">
              <button nbButton status="primary" (click)="updateTicketStatus(1)">Confirm</button>
              <button nbButton status="danger" (click)="updateTicketStatus(2)">Reject</button>
            </div>
          </ng-container>
          <div *ngIf="alreadyApproved" class="text-success">The request to invoke points has been accepted.</div>
          <div *ngIf="alreadyRejected" class="text-danger">The request to invoke points has been rejected.</div>
          <div *ngIf="apiCalledSuccess" class="text-success">Confirm successfully!</div>
        </div>
      </div>
    </nb-layout-column>
  </nb-layout>


<ng-template #eventBannerDialog let-data let-ref="dialogRef">
  <img style="height: 50vh;" *ngIf="isImageFile(ticketInfo?.evidenceUrls)" [src]="ticketInfo?.evidenceUrls">
  <iframe *ngIf="!isImageFile(ticketInfo?.evidenceUrls)"
    [src]="'https://docs.google.com/viewer?url=' + ticketInfo?.evidenceUrls + '&embedded=true' | safe:'resourceUrl'"
    height="700" width="500"></iframe>
</ng-template>